.dialog{
    display: flex;
    align-items: center;
}

.dialogInner{
    color: #ffffff;
    text-decoration: none;
    line-height: 40px;
    font-size: 20px;
}

.avatar {
    border-radius: 50%;
    margin: 10px;
}

.avatarInner {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}