.friend {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    /* justify-content: center; */
}

.avatar {
    border-radius: 50%;
    margin: 10px 0 10px 0px;
}

.avatarInner {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.name {
    color: #ffffff;
    font-size: 30px;
    padding-bottom: 6px;
    line-height: 30px;
    padding-left: 10px;
}