.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog{ }

.dialogInner{
    color: #ffffff;
    text-decoration: none;
    padding: 10px 0 10px 0;
    border: 1px #000 solid;
}

.active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {
    color: #ffffff;
}